/* .container {
  padding: 0 2rem;
  max-width: 1440px;
}
 */
 
 .nevlink:nth-child(2) {
  margin-right: 52px !important;
  margin-left: 52px !important;
}
@media (min-width:900px) and (max-width:1023px) {
  .nevlink:nth-child(2) {
    margin-right: 10px !important;
    margin-left: 10px !important;
  } 
}
.bgpage , .bgpagesec{
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  
}
.bgpage{
  background-image: url("../public/asset/images/bgpage.png");
  width: 307px;

}
.bgpagesec{
  background-image: url("../public/asset/images/bgpagesec.png");
  width: 391px;
}
/* .knowthat{

} */